@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    
}
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  position: static;

}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.menu {
    padding: 5px;
}
.logo_youtube {
   padding: 5px;
}
.icon_video {
    padding: 5px;
}
.icon_sino {
    padding: 5px;
}
.profile {
    padding: 5px;
}
.container {
        
}
.menu-lateral {
    padding: 30px;
    position: absolute;
    right: 200px;
}
.box {
    padding: 30px;
}
.video-principal {
    width: 1200px;
    height: 674px;
    border-radius: 20px;
}
h2 {
    font-size: 25px;
    position: absolute;
    bottom: 70px;
}
.barra_de_inscricao {
    position: absolute;
    bottom: 17px;
}
.visualizacao {
    position: absolute;
    bottom: -20px;
    font-weight: 600;
    font-size: 16px;
}
.texto-descricao {
    position: absolute;
    bottom: -70px;
    max-width: 200px;
    overflow-wrap: break-word;
}