@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}
.profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.menu {
    padding: 5px;
}
.logo_youtube {
   padding: 5px;
}
.icon_video {
    padding: 5px;
}
.icon_sino {
    padding: 5px;
}
.profile {
    padding: 5px;
}

.menu-lateral {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    top: 40px;
    right: 80px;
}
div nav ul li .Sidebar {
    right: -20px;
}
.menu-lateral img {
    position: relative;
}
.box {
    padding: 40px;
    position: relative;
    top: -250px;
}
.video-principal {
    width: 1200px;
    height: 674px;
    border-radius: 20px;
}
h2 {
    font-size: 25px;
    position: relative;
    bottom: -20px;
}
.barra_de_inscricao {
    position: relative;
    bottom: -30px;
}
.visualizacao {
    position: relative;
    bottom: -50px;
    font-weight: 600;
    font-size: 16px;
}
.container-descrição {
    position: relative;
    bottom: -60px;
    width: 1000px;
    height: 20px;
}
.texto-descrição {
    word-break: keep-all;
}
div nav ul li .Sidebar {
    right: 75px;
}

